<aside>

<h2>

Painel Administrativo

</h2>

<ul>

<li>

<a href="{% url 'painel_dashboard' %}">

Dashboard

</a>

</li>

<li>

<a href="{% url 'painel_produtos' %}">

Produtos

</a>

</li>

<li>

<a href="{% url 'categoria_list' %}">

Categorias

</a>

</li>

<li>

<a href="{% url 'painel_marcas' %}">

Marcas

</a>

</li>

<li>

<a href="{% url 'estoque_list' %}">

Estoque

</a>

</li>

<li>

<a href="{% url 'pedido_list' %}">

Pedidos

</a>

</li>

<li>

<a href="{% url 'cliente_list' %}">

Clientes

</a>

</li>

<li>

<a href="#">

Relatórios

</a>

</li>

<li>

<a href="#">

Configurações

</a>

</li>

</ul>

</aside>